In [72]:
import pandas as pd
import numpy as np
OAI = pd.read_csv("OnlineActionInfo.csv")
TFI = pd.read_csv("TransferInfo.csv")
CTI = pd.read_csv("CustomerInfo.csv")
CTI1 = CTI[CTI["clnt_gender"]!="unknown"]

연령 별

In [74]:
CTI1["clnt_age"][CTI1["clnt_age"]=="10"] = "10-20"
CTI1["clnt_age"][CTI1["clnt_age"]=="20"] = "10-20"
CTI1["clnt_age"][CTI1["clnt_age"]=="50"] = "50-60"
CTI1["clnt_age"][CTI1["clnt_age"]=="60"] = "50-60"
CTI1

C:\Users\Gyu\Anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Gyu\Anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Gyu\Anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Gyu\Anaconda3\envs\py37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

       clnt_id clnt_gender clnt_age
1            2           F       30
8            9           F       40
11          12           F       40
19          20           F       30
21          22           M       30
...        ...         ...      ...
72342    72373           F    50-60
72369    72400           F       40
72379    72410           F       40
72392    72423           F       30
72393    72424           M       40

[12245 rows x 3 columns]

In [56]:
np.save("imat.npy", vvv)

연령 성별 검색어

In [76]:
merge2 = OAI.merge(CTI1,how = "inner", on="clnt_id")
merge2 = merge2[merge2["sech_kwd"].notnull()]
merge2

,clnt_id,sess_id,hit_seq,action_type,biz_unit,sess_dt,hit_tm,hit_pss_tm,trans_id,sech_kwd,tot_pag_view_ct,tot_sess_hr_v,trfc_src,dvc_ctg_nm,clnt_gender,clnt_age
16,28304,1,13,0,A03,20190716,11:36,933562,NaN,비비고만두,56.0,1303.0,PUSH,mobile_web,F,50-60
17,28304,1,11,0,A03,20190716,11:35,820901,NaN,어묵,56.0,1303.0,PUSH,mobile_web,F,50-60
18,28304,1,16,0,A03,20190716,11:37,976904,NaN,고메핫도그,56.0,1303.0,PUSH,mobile_web,F,50-60
19,28304,1,10,0,A03,20190716,11:34,786138,NaN,핫도그,56.0,1303.0,PUSH,mobile_web,F,50-60
20,28304,1,9,0,A03,20190716,11:34,759117,NaN,어묵,56.0,1303.0,PUSH,mobile_web,F,50-60
21,28304,1,18,0,A03,20190716,11:38,1015222,NaN,비비고만두,56.0,1303.0,PUSH,mobile_web,F,50-60
1373,49353,28,14,0,A03,20190813,12:13,227981,NaN,서울우유,73.0,1418.0,PUSH,NaN,F,30
1374,49353,43,12,0,A03,20190825,19:49,649114,NaN,초코우유,18.0,754.0,PUSH,NaN,F,30
1375,49353,37,5,0,A03,20190821,19:49,60577,NaN,유료회원,12.0,113.0,PUSH,NaN,F,30
1376,49353,71,42,0,A03,20190923,14:53,892930,NaN,계란말이,51.0,1722.0,PUSH,NaN,F,30
1377,49353,33,51,0,A03,20190819,18:56,3668654,NaN,토마토,82.0,3699.0,DIRECT,NaN,F,30
1378,49353,63,2,0,A03,20190911,15:52,774650,NaN,핫도그,11.0,786.0,PUSH,NaN,F,30
1379,49353,24,27,0,A03,20190813,04:30,1912001,NaN,알로에쥬스,53.0,2007.0,DIRECT,NaN,F,30
1380,49353,36,28,0,A03,20190820,10:10,301928,NaN,프로바이오틱,122.0,2006.0,DIRECT,NaN,F,30
1381,49353,66,35,0,A03,20190916,18:28,357432,NaN,우유,47.0,865.0,DIRECT,NaN,F,30
1382,49353,49,88,0,A03,20190828,15:15,1860098,NaN,볶음밥,137.0,2284.0,PUSH,NaN,F,30
1383,49353,61,44,0,A03,20190909,17:09,1484669,NaN,미역국,151.0,2717.0,PUSH,NaN,F,30
1384,49353,22,11,0,A03,20190812,17:46,776567,NaN,돼지갈비찜,18.0,777.0,DIRECT,NaN,F,30
1385,49353,48,57,0,A03,20190828,13:05,2177973,NaN,버섯된장찌게,71.0,4130.0,DIRECT,NaN,F,30
1386,49353,61,56,0,A03,20190909,17:12,1686537,NaN,오뎅탕,151.0,2717.0,PUSH,NaN,F,30
1387,49353,61,12,0,A03,20190909,16:57,784746,NaN,돼지갈비,151.0,2717.0,PUSH,NaN,F,30
1388,49353,61,24,0,A03,20190909,17:02,1078815,NaN,감자,151.0,2717.0,PUSH,NaN,F,30
1389,49353,43,16,0,A03,20190825,19:51,744446,NaN,프로바이오틱,18.0,754.0,PUSH,NaN,F,30
1390,49353,8,42,0,A03,20190725,14:50,628666,NaN,빙그레우유,99.0,1599.0,PUSH,NaN,F,30
1391,49353,1,9,0,A03,20190703,18:30,202859,NaN,비비고 새우볶음밥,78.0,1735.0,DIRECT,NaN,F,30
1392,49353,26,8,0,A03,20190813,09:40,170983,NaN,감귤쥬스,19.0,213.0,PUSH,NaN,F,30
1393,49353,22,8,0,A03,20190812,17:45,723162,NaN,패음료,18.0,777.0,DIRECT,NaN,F,30
1394,49353,36,38,0,A03,20190820,10:18,752989,NaN,푸르밀,122.0,2006.0,DIRECT,NaN,F,30
1395,49353,61,43,0,A03,20190909,17:08,1457237,NaN,갈비탕,151.0,2717.0,PUSH,NaN,F,30
1396,49353,43,15,0,A03,20190825,19:50,729727,NaN,비피더스,18.0,754.0,PUSH,NaN,F,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1878506,46394,1,1,0,A01,20190705,14:40,214375,NaN,웰트리,25.0,2587.0,PORTAL_1,PC,F,40
1878507,46394,2,3,0,A01,20190721,16:55,89737,NaN,마우스댄디,9.0,995.0,PORTAL_1,PC,F,40
1878508,46394,2,2,0,A01,20190721,16:55,80444,NaN,마우스 댄디 조끼,9.0,995.0,PORTAL_1,PC,F,40
1878509,46394,5,2,0,A01,20190724,12:33,59853,NaN,소피아조끼,5.0,91.0,PORTAL_1,PC,F,40
1878510,46394,7,4,0,A01,20190725,17:42,1180985,NaN,슈에뜨보행기,24.0,2118.0,PORTAL_1,PC,F,40
1878511,46394,7,5,0,A01,20190725,17:42,1204370,NaN,슈에뜨보행기,24.0,2118.0,PORTAL_1,PC,F,40
1878512,46394,8,1,0,A01,20190731,13:46,13921,NaN,에뜨와,6.0,72.0,PORTAL_1,PC,F,40
1878513,46394,7,3,0,A01,20190725,17:35,750458,NaN,마리딸랑이,24.0,2118.0,PORTAL_1,PC,F,40
1878514,46394,2,6,0,A01,20190721,16:56,135126,NaN,마우스 댄디조끼SET,9.0,995.0,PORTAL_1,PC,F,40
1878515,46394,7,6,0,A01,20190725,17:43,1218888,NaN,슈에뜨보행기,24.0,2118.0,PORTAL_1,PC,F,40
1878516,46394,2,4,0,A01,20190721,16:55,111530,NaN,마우스댄디조끼,9.0,995.0,PORTAL_1,PC,F,40
1878517,46394,2,5,0,A01,20190721,16:56,122397,NaN,마우스 댄디조끼,9.0,995.0,PORTAL_1,PC,F,40
1878518,46394,6,2,0,A01,20190724,17:07,1306768,NaN,클레어,3.0,1323.0,PORTAL_1,PC,F,40
1878519,46394,2,8,0,A01,20190721,17:10,994605,NaN,소피아내의조기SET,9.0,995.0,PORTAL_1,PC,F,40
1878520,46394,8,3,0,A01,20190731,13:47,71774,NaN,에뜨와,6.0,72.0,PORTAL_1,PC,F,40
1878521,46394,3,1,0,A01,20190722,15:16,0,NaN,부가부,1.0,NaN,PORTAL_1,PC,F,40
1878522,46394,7,2,0,A01,20190725,17:33,649835,NaN,마들렌모빌,24.0,2118.0,PORTAL_1,PC,F,40
1878523,46394,2,1,0,A01,20190721,16:55,56426,NaN,마우스댄디조끼,9.0,995.0,PORTAL_1,PC,F,40
1878524,46394,6,1,0,A01,20190724,16:45,8685,NaN,안톤ST상하,3.0,1323.0,PORTAL_1,PC,F,40
1878525,46394,4,1,0,A01,20190724,11:12,23048,NaN,레이첼내의,2.0,41.0,PORTAL_1,PC,F,40
1878526,46394,6,3,0,A01,20190724,17:07,1323168,NaN,에뜨와클레어,3.0,1323.0,PORTAL_1,PC,F,40
1878527,46394,5,1,0,A01,20190724,12:32,7882,NaN,소피아조끼,5.0,91.0,PORTAL_1,PC,F,40
1878528,46394,7,10,0,A01,20190725,17:57,2099302,NaN,닥터브라운젖병,24.0,2118.0,PORTAL_1,PC,F,40
1878529,46394,8,2,0,A01,20190731,13:47,50292,NaN,에뜨와,6.0,72.0,PORTAL_1,PC,F,40
1878530,46394,9,1,0,A01,20190731,15:13,36277,NaN,에뜨와,2.0,36.0,PORTAL_1,PC,F,40
1878531,46394,7,8,0,A01,20190725,17:43,1249916,NaN,슈에뜨보행기,24.0,2118.0,PORTAL_1,PC,F,40
1878532,46394,7,9,0,A01,20190725,17:44,1273446,NaN,슈에뜨보행기,24.0,2118.0,PORTAL_1,PC,F,40
1878533,46394,7,7,0,A01,20190725,17:43,1232344,NaN,슈에뜨보행기,24.0,2118.0,PORTAL_1,PC,F,40
1878534,46394,2,7,0,A01,20190721,17:10,977146,NaN,"""소피아조기셑",9.0,995.0,WEBSITE,NaN,F,40
1878539,38563,1,1,0,A01,20190709,12:24,0,NaN,엘리든플레이,12.0,81.0,PORTAL_1,mobile_web,F,30

In [77]:
mer = merge2[["sech_kwd","clnt_gender","clnt_age"]]

In [80]:
mat1 = mer[(mer["clnt_gender"]=="F")&(mer["clnt_age"]=="10-20")]
mat2 = mer[(mer["clnt_gender"]=="F")&(mer["clnt_age"]=="30")]
mat3 = mer[(mer["clnt_gender"]=="F")&(mer["clnt_age"]=="40")]
mat4 = mer[(mer["clnt_gender"]=="F")&(mer["clnt_age"]=="50-60")]
mat5 = mer[(mer["clnt_gender"]=="M")&(mer["clnt_age"]=="10-20")]
mat6 = mer[(mer["clnt_gender"]=="M")&(mer["clnt_age"]=="30")]
mat7 = mer[(mer["clnt_gender"]=="M")&(mer["clnt_age"]=="40")]
mat8 = mer[(mer["clnt_gender"]=="M")&(mer["clnt_age"]=="50-60")]

In [84]:
np.save("F_10-20.npy", mat1)
np.save("F_30.npy", mat2)
np.save("F_40.npy", mat3)
np.save("F_50_60.npy", mat4)
np.save("M_10-20.npy", mat5)
np.save("M_30.npy", mat6)
np.save("M_40.npy", mat7)
np.save("M_50_60.npy", mat8)

In [96]:
oai1 = OAI[["sech_kwd","trfc_src","dvc_ctg_nm"]]
oai1 = oai1[(oai1["sech_kwd"].notnull())&(oai1["dvc_ctg_nm"].notnull())]
oai1 = oai1[oai1["dvc_ctg_nm"]!="unknown"]
oai1["count"] = 1
oai1.shape

(348267, 4)

In [101]:
oai_pivot = pd.pivot_table(oai1, index='trfc_src', columns='dvc_ctg_nm', values='count',aggfunc=np.sum)
oai_pivot

dvc_ctg_nm       PC  mobile_app  mobile_web
trfc_src
DIRECT      29947.0       305.0     36518.0
PORTAL_1     7983.0         NaN      8600.0
PORTAL_2     5160.0         NaN      2011.0
PORTAL_3     1276.0         NaN      1311.0
PUSH           17.0         NaN     25039.0
WEBSITE      7198.0       156.0      2777.0
unknown     17254.0    155276.0     47439.0

dvc_ctg_nm
PC             68835.0
mobile_app    155737.0
mobile_web    123695.0
dtype: float64