In [2]:
import pandas as pd

OAI = pd.read_csv("./Data/OnlineActionInfo.csv")
TFI = pd.read_csv("./Data/TransferInfo.csv")
CTI = pd.read_csv("./Data/CustomerInfo.csv")
PDI = pd.read_csv("./Data/product.csv")

In [3]:
print(OAI.shape)
print(OAI.info())
print(TFI.shape)
print(TFI.info())
print(CTI.shape)
print(CTI.info())
print(PDI.shape)
print(PDI.info())

(3196362, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3196362 entries, 0 to 3196361
Data columns (total 14 columns):
clnt_id            int64
sess_id            int64
hit_seq            int64
action_type        int64
biz_unit           object
sess_dt            int64
hit_tm             object
hit_pss_tm         int64
trans_id           float64
sech_kwd           object
tot_pag_view_ct    float64
tot_sess_hr_v      float64
trfc_src           object
dvc_ctg_nm         object
dtypes: float64(3), int64(6), object(5)
memory usage: 341.4+ MB
None
(599961, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599961 entries, 0 to 599960
Data columns (total 9 columns):
clnt_id      599961 non-null int64
trans_id     599961 non-null int64
trans_seq    599961 non-null int64
biz_unit     599961 non-null object
pd_c         599961 non-null object
de_dt        599961 non-null int64
de_tm        599961 non-null object
buy_am       599961 non-null int64
buy_ct       599961 non-null int64
dtypes: int64(6), object(3)
memory usage: 41.2+ MB
None
(72399, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72399 entries, 0 to 72398
Data columns (total 3 columns):
clnt_id        72399 non-null int64
clnt_gender    72399 non-null object
clnt_age       72399 non-null object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB
None
(1667, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1667 entries, 0 to 1666
Data columns (total 4 columns):
pd_c        1667 non-null int64
clac_nm1    1667 non-null object
clac_nm2    1667 non-null object
clac_nm3    1665 non-null object
dtypes: int64(1), object(3)
memory usage: 52.2+ KB
None

In [4]:
OAI.isnull().sum()

clnt_id                  0
sess_id                  0
hit_seq                  0
action_type              0
biz_unit                 0
sess_dt                  0
hit_tm                   0
hit_pss_tm               0
trans_id           3139373
sech_kwd           2544724
tot_pag_view_ct       1428
tot_sess_hr_v        57607
trfc_src                 0
dvc_ctg_nm         1782577
dtype: int64

In [7]:
print(len(CTI[CTI["clnt_gender"]=="unknown"]))
print(len(CTI[CTI["clnt_gender"]!="unknown"]))

60154
12245

In [13]:
(TFI=="unknown").sum()

clnt_id          0
trans_id         0
trans_seq        0
biz_unit         0
pd_c         17652
de_dt            0
de_tm            0
buy_am           0
buy_ct           0
dtype: int64

In [14]:
(OAI=="unknown").sum()

clnt_id                 0
sess_id                 0
hit_seq                 0
action_type             0
biz_unit                0
sess_dt                 0
hit_tm                  0
hit_pss_tm              0
trans_id                0
sech_kwd                0
tot_pag_view_ct         0
tot_sess_hr_v           0
trfc_src           826946
dvc_ctg_nm              0
dtype: int64

In [15]:
(PDI=="unknown").sum()

pd_c        0
clac_nm1    0
clac_nm2    0
clac_nm3    0
dtype: int64