In [1]:
import pandas as pd
train = pd.read_csv("train.csv",sep=",")
test = pd.read_csv("test_job.csv",sep=",")
job_tag = pd.read_csv("job_tags.csv",sep=",")
user_tag = pd.read_csv("user_tags.csv",sep=",")
job_company = pd.read_csv("job_companies.csv",sep=",")
tags = pd.read_csv("tags.csv",sep=",")

In [2]:
tags.isnull().sum()

tagID      0
keyword    0
dtype: int64

In [3]:
set = pd.concat([train.iloc[:,[0,1]],test],axis=0)
set.describe()

                                  userID                             jobID
count                               8435                              8435
unique                               196                               733
top     b052e2e0c0ad1b2d5036bd56e27d061c  da0d1111d2dc5d489242e60ebcbaf988
freq                                 155                                74

In [5]:
merge1 = pd.merge(set,user_tag,how="left")
merge2 = pd.merge(merge1, job_tag, on="jobID", how="left" )
merge3 = pd.merge(merge2, tags, left_on="tagID_x", right_on="tagID",how="left")
merge4 = pd.merge(merge3, tags, left_on="tagID_y", right_on="tagID",how="left")
merge4.describe()

,userID,jobID,tagID_x,tagID_y,tagID_x,keyword_x,tagID_y,keyword_y
count,4230983,4230983,4230983,4230983,4230983,4230983,4230983,4230983
unique,196,733,345,240,345,345,240,240
top,b052e2e0c0ad1b2d5036bd56e27d061c,13f9896df61279c928f19721878fac41,f47330643ae134ca204bf6b2481fec47,0e095e054ee94774d6a496099eb1cf6a,f47330643ae134ca204bf6b2481fec47,Java,0e095e054ee94774d6a496099eb1cf6a,JavaScript
freq,232200,57699,198035,315413,198035,198035,315413,315413

In [7]:
m1 = pd.merge(user_tag, tags, how="left")
m2 = pd.merge(job_tag, tags, how="left")
m11 = m1.iloc[:,[0,2]]
m22 = m2.iloc[:,[0,2]]
m11.duplicated().sum()

14612

In [56]:
merge4.duplicated().sum()

3616524