In [1]:
import pandas as pd
train = pd.read_csv("train.csv",sep=",")
test = pd.read_csv("test_job.csv",sep=",")
job_tag = pd.read_csv("job_tags.csv",sep=",")
user_tag = pd.read_csv("user_tags.csv",sep=",")
job_company = pd.read_csv("job_companies.csv",sep=",")
tags = pd.read_csv("tags.csv",sep=",")
user_tag = user_tag.drop_duplicates()

In [4]:
train.describe()

           applied
count  6000.000000
mean      0.142833
std       0.349932
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [2]:
set = pd.concat([train.iloc[:,[0,1]],test],axis=0)
set.describe()

                                  userID                             jobID
count                               8435                              8435
unique                               196                               733
top     b052e2e0c0ad1b2d5036bd56e27d061c  da0d1111d2dc5d489242e60ebcbaf988
freq                                 155                                74

In [39]:
# merge1 = pd.merge(set,user_tag,how="left")
# merge2 = pd.merge(merge1, job_tag, on="jobID", how="left" )
# merge3 = pd.merge(merge2, tags, left_on="tagID_x", right_on="tagID",how="left")
# merge4 = pd.merge(merge3, tags, left_on="tagID_y", right_on="tagID",how="left")
# merge4.describe()

In [15]:
import numpy as np

m1 = pd.merge(user_tag, tags, how = "left")
m2 = pd.merge(job_tag, tags, how="left")
# m11.sort_values(by="userID")
merge1 = pd.merge(train,m1,how="left")
merge1.describe()
m2.head()

,jobID,tagID,keyword
0,320722549d1751cf3f247855f937b982,d38901788c533e8286cb6400b40b386d,Ruby
1,e744f91c29ec99f0e662c9177946c627,3948ead63a9f2944218de038d8934305,Node.js
2,e744f91c29ec99f0e662c9177946c627,0e095e054ee94774d6a496099eb1cf6a,JavaScript
3,e820a45f1dfc7b95282d10b6087e11c0,7d771e0e8f3633ab54856925ecdefc5d,HTML
4,e820a45f1dfc7b95282d10b6087e11c0,6c8dba7d0df1c4a79dd07646be9a26c8,Vue.js

In [13]:
train1 = train[train["applied"]==1]
train1[1:10]

,userID,jobID,applied
23,b052e2e0c0ad1b2d5036bd56e27d061c,4a213d37242bdcad8e7300e202e7caa4,1
24,a35af76a1c0bb174a3cfc66592804848,e820a45f1dfc7b95282d10b6087e11c0,1
29,cb08b2c94dbb772324444bb4ed7cc1a4,9b70e8fe62e40c570a322f1b0b659098,1
35,688da39dcb1131d0d91b348653850d08,b534ba68236ba543ae44b22bd110a1d6,1
44,0cc8f7bf8a8d56980414a6e4bc69cdc6,17d63b1625c816c22647a73e1482372b,1
49,282bb8a7afdb969e5ac8e1848f741d9a,16c222aa19898e5058938167c8ab6c57,1
52,68cb94b97d00979f4e8127915885b641,021bbc7ee20b71134d53e20206bd6feb,1
57,ebaee1af0c501f22ddfe242fc16dae53,36a16a2505369e0c922b6ea7a23a56d2,1
59,a3371575663f7b9dd7629822611470bf,35cf8659cfcb13224cbd47863a34fc58,1

In [18]:
merge2 = pd.merge(train1.iloc[:,[0,1]], m1, how="left")
merge3 = pd.merge(merge2, m2, on = "jobID")

In [20]:
merge3.duplicated().sum()

0

In [21]:
merge4 = pd.merge(merge3, job_company, on = "jobID")
merge4.describe()

,userID,jobID,tagID_x,keyword_x,tagID_y,keyword_y,companyID,companySize
count,61057,61057,61057,61057,61057,61057,61057,55013
unique,191,346,338,338,165,165,183,7
top,b052e2e0c0ad1b2d5036bd56e27d061c,27ed0fb950b856b06e1273989422e7d3,f47330643ae134ca204bf6b2481fec47,Java,0e095e054ee94774d6a496099eb1cf6a,JavaScript,285ab9448d2751ee57ece7f762c39095,11-50
freq,2013,3648,2686,2686,5094,5094,3832,22890

In [34]:
company = job_company["companySize"].fillna("unknown")
company.value_counts()

11-50       260
51-100      142
1-10        100
unknown      90
101-200      60
201-500      56
1000 이상      13
501-1000     12
Name: companySize, dtype: int64